body {
  margin: 0;
  width: 100%;
  background-color: #ece5c7;
}

.navbar {
  background: #213363;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
}
